body{
    background-image: linear-gradient(to right, #991bc7, #7c50d8, #636de0, #5783de, #6195d6);
    margin: 0;
}
.main{
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    flex-direction: column;
    min-width: 100%;
}
.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input[type='button'] {
    font-size: 18px;
    width: 22%;
    height: 60px;   
}
#sButton {
    display: none;
}
#eventField {
    display: none;
    text-align: center;
}
.game-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inner-field {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.first-line{
    display: flex;
    width: 40%;
    justify-content: space-around;
    flex-grow: 4;
}
.second-line{
    display: flex;
    width: 40%;
    justify-content: space-around;
    flex-grow: 4;
}
.inner-field button {
    display: block;
    border: black solid 1px;
    background-color: blanchedalmond;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    margin-right: 5px;
    width: 40%;
    height: 100px;
}
#lostGame {
    display: none;
    text-align: center;
}
#winGame {
    display: none;
    text-align: center;
}
#prizeInf {
    display: none;
    font-size: 18px;
}
@media screen and (max-width: 768px){
    .main{
        align-content: space-between;
        height: 100vh;
        justify-content: space-between;
    }
    .main-menu{
        
    }
    .inner-field{
        flex-direction: column;
    }
    .first-line {
        width: 100%;
        margin-bottom: 5px;
    }
    .second-line {
        width: 100%;
    }
}
