body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 100%;
    height: 100vh;
}
.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input[type='button'] {
    font-size: 1.25em;
    width: 26%;
    height: 60px;  
    border-radius: 4px;
    background-color: #EEEEEE;
    color: black;
    border: none;
    white-space: normal; 
}
#sButton {
    display: none;
}
#eventField {
    display: none;
    text-align: center;
}
.game-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inner-field {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.first-line{
    display: flex;
    width: 40%;
    justify-content: space-around;
    flex-grow: 4;
}
.second-line{
    display: flex;
    width: 40%;
    justify-content: space-around;
    flex-grow: 4;
}
.inner-field button {
    display: block;
    border: none;
    background-color: #E39774;
    font-size: 0.875em;
    text-align: center;
    border-radius: 4px;
    margin-right: 5px;
    width: 40%;
    height: 100px;
}
.conclusion{
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
}
#lostGame {
    display: none;
    text-align: center;
}
#winGame {
    display: none;
    text-align: center;
}
#prizeInf {
    display: none;
    font-size: 18px;
    background-color: #EEEEEE;
}
@media screen and (max-width: 768px){
    .main{
        align-content: space-between;
        height: 100vh;
        justify-content: space-between;
    }
    .inner-field{
        flex-direction: column;
    }
    .first-line {
        width: 100%;
        margin-bottom: 5px;
    }
    .second-line {
        width: 100%;
    }
}
